.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #ed0a32;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: #ffffff;
  white-space: nowrap;
}

.button:hover {
  transform: scale(1.05);
}

.secondary {
  background-color: #141025;
  border: 1px solid #ffffff;
}

.tertiary {
  background-color: #141025;
  border: 1px solid #ffffff;
}

.small {
  padding: 6px 12px;
  font-size: 12px;
  width: 60px;
  height: 55px;
}
.medium {
  padding: 10px 18px;
  font-size: 14px;
  width: 107px;
  height: 55px;
}
.large {
  padding: 14px 24px;
  font-size: 16px;
  width: 200px;
  height: 55px;
}
